@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;1,300&display=swap');

:root{
    --primary-color: hsla(203,100%, 13%, 1);
    --secondary-color: hsl(330, 87%, 17%);
    --fruit-color: tomato;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Source Sans 3", sans-serif;

    padding: 0;
    margin: 0;
}

/* Start Back to Top  */

.btn-backtotops{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    border-radius: 10px;

    position: absolute;
    right: 10px;
    bottom: 10px;

    z-index: 200;
}

/* End Back to Top  */

/*  Start Header Section  */

header{
    height: 100vh;

    background-image:linear-gradient(30deg,rgba(0,0,0,0),rgba(0,0,0,0.5)), url(./../assets/img/banner/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Start Nav Bar  */

.navbar{
    background: linear-gradient(rgba(0,0,0,0.3),var(--primary-color));
    padding: 20px 30px;

    transition: all .7s;
}

.navmenus{
    background: linear-gradient(rgba(0,0,0,0.6),var(--primary-color));
    padding: 5px 30px;
}

.menuitems{
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;

    transition: color .5s;
}

.menuitems:hover{
    color: skyblue;
}

.lines1,.lines2,.lines3{
    width: 25px;
    height: 3px;
    margin: 6px;
}

.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
}

.crossxs .lines2{
    opacity: 0;
}

.crossxs .lines3{
    transform: rotate(45deg) translate(-6px,-6px);
}


/* End Nav Bar  */

/* Start Banner  */

.banners{
    width: 80%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

.bannerheaders{
    animation-name: bnanis;
    animation-duration: 2s;
}

.bannerparagraphs{
    font-size: 20px;

    animation-name: bnanis;
    animation-duration: 2s;
    animation-delay: 0.5s;
    
    animation-fill-mode: backwards;
}

@keyframes bnanis{

    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }

}

/* End Banner  */

/*  End Header Section  */

/* Start About Us Section  */

.aboutss{
    background-image:linear-gradient(
      rgba(0,0,0,0.3),
      rgba(0,0,0,0.3)  
    ), url(./../assets/img/banner/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}

.aboutss .lines{
    width: 30%;
    height: 1.2px;
    background-color: #fff;

    margin-bottom: 3px;
}

.aboutss .lines:nth-of-type(2){
    width: 20%;
    height: 1px;
}

.aboutss .lines:nth-of-type(3){
    width: 10%;
    height: 0.5px;

    margin-bottom: 30px;
}

.aboutss h5{
    background-color: #f4f4f4;
    color: #111;
    font-size: 17px;

    border-left: 5px solid red;

    padding: 10px;
}

.aboutss h5 ~ p{
    text-align: left;
    margin: 30px 0;
}

.aboutss img{
    width: 350px;

    position: absolute;
    bottom: 0;
} 

/* End About Us Section  */

/* Start Property Section  */

.titles{
    text-transform: uppercase;
    /* background-color: steelblue; */

    display: inline-block;

    padding: 5px 20px;

    position: relative;
}

.titles::before,.titles::after{
    content: '';
    width: 20px;
    height: 20px;

    position: absolute;
}

.titles::before{
    border-left: 3px solid steelblue;
    border-bottom: 3px solid steelblue;

    left: -5px;
    bottom: -5px;

    transition: all .5s ease-in;
}

.titles::after{
    border-right: 3px solid steelblue;
    border-top: 3px solid steelblue;

    right: -5px;
    top: -5px;

    transition: all .5s ease-in;
}

.titles:hover::before{
    left: calc(100% - 20px + 5px);

    border-left: none;
    border-right: 3px solid steelblue;
}

.titles:hover::after{
    right: calc(100% - 20px + 5px);

    border-right: none;
    border-left: 3px solid steelblue;
}

.propertylists{
    color: #777;
    cursor: pointer;
}

.activeitems{
    color: var(--primary-color);
}

/* End Property Section  */

/* Start Adv Section  */
.missions{
    background: var(--primary-color);
}

.fromlefts{
    animation-name: fromleftani;
    animation-duration: 3s;
}

.fromrights{
    animation-name: fromrightani;
    animation-duration: 3s;
}

@keyframes fromleftani{
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fromrightani{
    0%{
        transform: translateX(30px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* End Adv Section  */

/* Start Services Section  */

.services{
    background: linear-gradient(200deg,var(--secondary-color),var(--primary-color));
}

.servicecards{
    position: relative;

    overflow: hidden;

    white-space: pre-wrap;
}

.servicecards::before{
    content: 'You may need our services ? \A Try and upgrade you living environment. \a \f004 \f004 \f004';
    font-family: 'Font Awesome 5 Free';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    line-height: 2;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

.servicecards:hover::before{
    content: '';
    background-color: rgba(0,0,0,0.1);
}

.servicecards img{
    transition: transform .3s;
}

.servicecards:hover img{
    transform: scale(1.1);
}

.headings{
    width: 40%;
    background-color: rgba(0,0,0,0.7);
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    opacity: .7s;

    position: absolute;
    right: 0;
    top: 80%;
}

/* End Services Section  */

/* Start Clients Section  */

ul.clientlists{
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul.clientlists li{
    background-color: #f4f4f4;
    border: 5px solid #e9e9e9;
    padding: 20px 30px;
    margin: 0 auto;
}

ul.clientlists li:hover{
    border-color: var(--primary-color);
    box-shadow: 3px -5px 3px rgba(0,0,0,0.4);
}

ul.clientlists img{
    width: 100px;
}

@media(max-width:768px){

    ul.clientlists li{
        border: 3px solid #e9e9e9;
        padding: 10px 20px;
        margin: 0 5px;
    }

    ul.clientlists li:hover{
        box-shadow: 1px -2px 1px rgba(0,0,0,0.3);
    }

    ul.clientlists img{
        width: 70px;
    }

}
/* End Clients Section  */

/* Start Customers Section  */

.customers{
    background-image: linear-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,1)
    ) ,url(./../assets/img/banner/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* End Customers Section  */

/* Start Quotation Section */
.quotes{
    background-color: var(--primary-color);
    padding: 30px 50px;
    margin: -20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quotes .infos{
    display: flex;
    text-align: left;
}

.quotes .btn-calls{
    width: 170px;
    height: 50px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 15px;
    border-radius: 100px;
    line-height: 50px;

    padding: 0;

    transform: translateY(-1px);
}

.quotes .btn-calls:hover{
    transform: translateY(0px);
    box-shadow: -3px 3px 3px #444;
}

/* End Quotation Section */

/* Start Furniture Section  */

.furicons img{
    width: 70px;
}

.furicons div:nth-of-type(even){
    background-color: #f1f1f1;
}
/* End Furniture Section  */

/* Start Contact Section  */

.contacts{
    background-image: linear-gradient(
        100deg,
        rgba(0,0,0,0.9) 50%,
        rgba(0,0,0,0.5) 30%,
        transparent 100%
    ),url("./../assets/img/banner/banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contacts .inputs{
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    border-bottom: 2px solid #ccc;
    border-radius: 0;

    transition: all .8s;
}

.contacts .inputs:focus{
    border-bottom: 2px solid var(--secondary-color);
    box-shadow: none;
}

.inputs::placeholder{
    color: rgba(255,255,255,0.5);
}

.labels{
    color: #fff;

    display: block;

    margin-left: 10px;
    margin-top: -60px;

}

/* .inputs:placeholder-shown + .labels{
    opacity: 0;
    visibility: hidden;
} */

.submit-btns{
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    outline: none;

    transition: all .5s;
}

.submit-btns:hover{
    background-color: var(--primary-color);
    color: #fff;
}

/* End Contact Section  */

/* Start Footer Section  */

.footerlinks{
    color: #e2e2e2;
    text-decoration: none;
    font-size: 13px;

    transition: all .3s;
}

.footerlinks:hover{
    color: orange;
    border-bottom: 1px solid orange;
    letter-spacing: 1px;
}

/* End Footer Section  */

